<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>




  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <span class="fw-bold text-warning">
                    Welcome {{username}}! 🚀
                </span>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <li class="nav nav-pills">
                <a class="nav-link active" aria-current="page" href="/profile/:id">Dashboard</a>
            </li>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Predictions</a>
              </li> -->
              <li class="nav-item dropdown">
 
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Fantasy Team
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <!-- <li><a class="dropdown-item" href="#">Create</a></li> -->
                  <li><a class="dropdown-item" href="#">Update</a></li>
                  <li><a class="dropdown-item" href="#">Delete</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">How it works?</li>
                </ul>
                
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
              </li>
            </ul>

            

            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Live results" aria-label="Search">
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
        

      <!-- <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-2 mt-5 bg-light d-none d-md-block sidebar ">
                <div class="left-sidebar">
                    <div class="d-flex ">
                        <div class="nav flex-column ml-5 nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                         
                        <li class="nav-item">
                                <a class="nav-link text-dark" href="/profile/:id"  >Back</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/logout"  >Log out</a>
                        </li>
                        </div>

                      </div>
                </div>
            </div>

        </div>
      </div> -->

      <!--All Players-->
    <div class=" mt-4">
        {{#each allPlayersFromDb}}
        <div class="card mb-2 d-inline-flex p-2" style="width: 11rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.playername}}</h5>
                <p class="card-text">Position:{{this.position}}<br>
                    <h6>{{this.team}}</h6>
                </p>
              
              <form method="post" action="/profile/{{this._id}}/players/add">
                <button class="btn btn-warning btn-sm">Add Player</button>
              </form>
            </div>
          </div>

        {{/each}}
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>